<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ukltraq.net.nz/thymeleaf/layout">
 <head>
 	<title>Lista de Veiculos</title>
 	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/styleCss.css"/>
 </head>
 <body>
 	<header>
		<nav>
    		<div class="nav-wrapper">
      			<a href="#" class="brand-logo">Lista de Veiculos</a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
        			<li><a href="/cadastrarVehicle" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastro de Veiculo</a></li>
      			</ul>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
        			<li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Home</a></li>
      			</ul>
    		</div>
  		</nav>
	</header>
 	
 	<table class="container">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descricao</th>
				<th>Placa</th>
				<th>Tipo</th>
				<th>Deletar</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="Vehicle : ${Vehicles}" >
				<td><span th:text="${Vehicle.v_name}"></span></td>
				<td><span th:text="${Vehicle.v_desc}"></span></td>
				<td><span th:text="${Vehicle.v_plate}"></span></td>
				<td><span th:text="${Vehicle.vehicle_type.t_name}"></span></td>
				<td><a th:href="${(#mvc.url('VC#deletarVehicle').arg(0, Vehicle.id)).build()}"><i class="material-icons left">delete_forever</i></a></td>
			</tr>
		</tbody>
	</table>
 	
	
 	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
 </body>     

</html>